@use 'breakpoint' as *;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
}

/* show or hide errors message/img */
.show-error {
  visibility: visible;
}
.hide-error {
  visibility: hidden;
}

footer {
  color: var(--soft-blue);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;

  @include breakpoint-up(medium) {
    // font-size: 18px;
  }

  a {
    // color: var(--cyan);
  }
}
