@forward 'colors';
@forward 'base';

@use 'function' as *;
@use 'breakpoint' as *;

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: rem(16);
  background: #fafafa;

  .wrapper {
    width: rem(375);
    margin: 0 auto;
    background: linear-gradient(150.03deg, var(--gradient-start) 0%, var(--gradient-end) 84.51%);

    .logo-img {
      width: rem(100);
      height: rem(51.89);
      padding-top: rem(31);
      margin: 0 0 rem(32.11) rem(32);
    }

    .hero-img {
    }

    main {
      text-align: center;
      color: var(--desaturated-red);
      margin: rem(64) rem(32) rem(92) rem(32);

      h1 {
        font-size: rem(40);
        line-height: rem(42);
        letter-spacing: rem(10.83);
        font-weight: 300;
        margin-bottom: rem(16);

        span {
          color: var(--dark-grayish-red);
          font-weight: 600;
        }
      }

      p {
        font-size: rem(14);
        line-height: rem(22);
        margin-bottom: rem(32);
      }

      label {
        display: block;
        height: rem(48);
        position: relative;

        input {
          width: 100%;
          height: 100%;
          color: var(--dark-grayish-red);
          border: 1px solid var(--desaturated-red-half-opacity);
          border-radius: rem(28px);
          padding: 0 0 0 rem(24);
          &,
          &::placeholder {
            font-size: rem(14);
            line-height: rem(28);
            font-weight: 400;
          }
          &::placeholder {
            color: var(--desaturated-red);
            opacity: 0.5;
          }
        }

        button {
          padding: 0;
          border: none;
          background: linear-gradient(135deg, var(--gradient-btn-start) 0%, var(--gradient-btn-end) 100%);
          box-shadow: var(--shadow-btn);
          cursor: pointer;
          &,
          &:hover::after {
            position: absolute;
            width: rem(64);
            height: 100%;
            top: 0;
            right: 0;
            border-radius: 28px;
          }
          //button overlay
          &:hover::after {
            content: '';
            background: var(--btn-hover-overlay);
          }

          //arrow
          img {
          }
        }

        .error-img {
          position: absolute;
          top: rem(13);
          right: rem(72);
        }

        .error-message {
          position: absolute;
          bottom: rem(-21);
          left: rem(24);
          color: var(--soft-red);
          font-size: rem(13);
          font-weight: (400);
          line-height: rem(13);
        }
      }
    }
  }
}
